<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!--声明式编程-->
<div id="app">
    <ul>
        <!--在遍历对象的过程中，如果只是获取一个值，那么获取到的值vaule-->
        <li v-for="item in info">{{item}}</li>
    </ul>

    <ul>
        <!--获取value和key时，value要放在key的前面-->
        <li v-for="(value,key) in info">{{key}}:{{value}}</li>
    </ul>

    <ul>
        <!--获取key value和index-->
        <li v-for="(value,key,index) in info">{{index+1}}.{{key}}:{{value}}</li>
    </ul>
</div>  <!--把app中的数据放进div-->

<body>
    <script src="../vue.js"></script>
    <script>
        // let 变量 ; const 常量
        
        const app = new Vue({
            el:'#app',  //用于挂载要管理的元素
            data:{  //定义一些数据
                message:'你好啊',
                info:{
                    name:'why',
                    age:18,
                    height:1.88
                }
            }
        })
    </script>
</body>
</html>